<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Project</title>
</head>
<body>
    <form action="/add" method="POST">
        <div>
            <input type="text" name="name" placeholder="name" required>
        </div>
        <div>
            <input type="number" step="0.1" min="-0.1" max="10.0" name="cgpa" placeholder="cgpa" required>
        </div>
        <div>
            <input type="number" min="<%=(year-2)%>" max="<%=year%>" name="yog" placeholder="graduation yr" required>
        </div>
        <div>
            <input type="text" name="branch" placeholder="branch" required>
        </div>
        <button type="submit">Submit</button>
    </form>

    <br><br><br>

    <table>
        <th>
            name
        </th>
        <th>
            cgpa   
        </th>
        <th>
            yog     
        </th>
        <th>
            branch
        </th>
        <th>
            
        </th>
        <%for(let i=0;i<records.length;i++){%>
            <tr>        
                <td>
                    <%=records[i].name%></td>    
                </td>
                    
                <td>
                    <%=records[i].cgpa%></td>    
                </td>
                    
                <td>
                    <%=records[i].yog%></td>    
                </td>
                    
                <td>
                    <%=records[i].branch%></td>    
                </td>

                <td>
                    <form action="/update/<%=records[i]._id%>" method="GET">
                        <button type="submit">update</button>
                    </form>

                    <form action="/delete/<%=records[i]._id%>" method="POST">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        <%}%>

    </table>
    

</body>
</html>