<%- include('./partials/header') %>

    <div id="login">
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Signup</button>
    </div>

    <table>
        <th>
            ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
            
        <%for(let i=0;i<records.length;i++){%>
            <tr>        
                <td>
                    <%=records[i].id%></td>    
                </td>

                <td>
                    <%=records[i].fname%></td>    
                </td>

                <td>
                    <%=records[i].lname%></td>    
                </td>
                    
                <td>
                    <%=records[i].username%></td>    
                </td>
                    
                <td>
                    <%=records[i].email%></td>    
                </td>

                <td>
                    <form action="/update/<%=records[i]._id%>" method="GET">
                        <button type="submit">update</button>
                    </form>

                    <form action="/delete/<%=records[i]._id%>" method="POST">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        <%}%>

    </table>
    
<%- include('./partials/footer') %>