<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Project</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="number" step="0.1" min="0.0" max="10.0" name="cgpa" placeholder="cgpa">
        <input type="number" min="<%=(year-2)%>" max="<%=year%>" name="yog" placeholder="graduation yr">
        <input type="text" name="branch" placeholder="branch">
        <button type="submit">Submit</button>
    </form>

    <br><br><br>

    <table>
        <th>
            name
        </th>
        <th>
            cgpa   
        </th>
        <th>
            yog     
        </th>
        <th>
            branch
        </th>
        <th>
            
        </th>
        <%console.log(records.length);%>
        <%for(let i=0;i<records.length;i++){%>
            <tr>        
                <td>
                    <%if(records[i].name != "" && records[i].name != null){%>
                        <%=records[i].name%></td>    
                    <%}else{%>
                        N.A.    
                    <%}%>
                </td>
                    
                <td>
                    <%if(records[i].cgpa != 0 && records[i].cgpa != null){%>
                        <%=records[i].cgpa%></td>    
                    <%}else{%>
                        N.A.    
                    <%}%>
                </td>
                    
                <td>
                    <%if(records[i].yog != 0 && records[i].yog != null){%>
                        <%=records[i].yog%></td>    
                    <%}else{%>
                        N.A.    
                    <%}%>
                </td>
                    
                <td>
                    <%if(records[i].branch != "" && records[i].branch != null){%>
                        <%=records[i].branch%></td>    
                    <%}else{%>
                        N.A.    
                    <%}%>
                </td>

                <td>
                    <form action="/delete/<%=records[i]._id%>" method="POST">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        <%}%>

    </table>
    

</body>
</html>