<%- include('./partials/header') %>
    
    <form action="/update/<%=record._id%>" method="POST">
        <div>
            <input type="text" name="username" placeholder="Username" value='<%=record.username%>' required>
        </div>
        <div>
            <input type="email"name="email" placeholder="Email" value='<%=record.email%>' required>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>

<%- include('./partials/footer') %>